@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Source+Code+Pro:wght@300;400;600&display=swap");
@import "Mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  font-family: "Montserrat Alternates", sans-serif;

  box-sizing: inherit;
}
.modeChanger {
  height: 3.75vh;
  width: 3.75vh;

  position: absolute;

  @include respond(Desktop-Big) {
    border-radius: 3rem;
  }
  background-color: transparent;
  overflow: visible;

  border: none;

  position: relative;
}
.modeChangerImage {
  height: 3.75vh;
  width: 3.75vh;

  position: absolute;
  background-color: transparent;
  @include respond(Desktop-Big) {
    top: -150%;
    left: 75%;
  }
  @include respond(Desktop-Small) {
    top: -150%;
    left: 25%;
  }
  @include respond(Tablet) {
    top: -1050%;
    left: 25%;
  }

  &:hover {
    @include respond(Desktop-Big) {
      border-radius: 50%;
    }
    box-shadow: 0 0 1vh 1vh var(--color-modeChanger);
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text-tertiary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-secondary);
}
