@import "Theme";
@import "Mixins";

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: var(--color-text-primary);
  }
  &:active {
    color: var(--color-link-active);
  }
}
.header-Name,
.header-Button {
  height: auto;
  width: auto;

  background-color: var(--color-background-header-footer);
  color: var(--color-text-primary);

  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  @include respond(Desktop-Big) {
    font-size: 4rem;
    padding: 0.5rem 1rem;
  }
  @include respond(Tablet-Landscape) {
    font-size: 2.5rem;
    padding: 0.25rem 0.5rem;
  }
  @include respond(Tablet-Portrait) {
    font-size: 4rem;
  }
  @include respond(Smartphone) {
    font-size: 2.5rem;
  }

  border-radius: 1rem;
  letter-spacing: 0.2rem;
}

.header-Button {
  font-weight: 400;
  @include respond(Desktop-Big) {
    text-align: center;
    font-size: 2rem;
  }
  @include respond(Tablet-Landscape) {
    font-size: 1.5rem;
  }
  @include respond(Tablet-Portrait) {
    font-size: 2rem;
  }

  &:hover {
    color: var(--color-text-hover);
    cursor: pointer;
  }
}
.header-Button-Red {
  &:hover {
    background-color: var(--color-red);
    box-shadow: var(--color-red) 0px 0px 10px 2px;
  }
}
.header-Button-Yellow {
  &:hover {
    background-color: var(--color-yellow);
    box-shadow: var(--color-yellow) 0px 0px 10px 2px;
  }
}
.header-Button-Green {
  &:hover {
    background-color: var(--color-green);
    box-shadow: var(--color-green) 0px 0px 10px 2px;
  }
}
.header-Button-Blue {
  &:hover {
    background-color: var(--color-blue);
    box-shadow: var(--color-blue) 0px 0px 10px 2px;
  }
}
