@import "Theme";
@import "Mixins";

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: var(--color-text-primary);
  }
  &:active {
    color: var(--color-link-active);
  }
}
.header-Name {
  height: inherit;
  width: auto;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  background-color: var(--color-background-header-footer);
  color: var(--color-text-primary);

  font-family: "Source Code Pro", monospace;
  font-size: 40%;
  font-weight: 700;

  @include respond(Desktop-Small) {
    font-size: 35%;
  }
  @include respond(Tablet) {
    font-size: 50%;
  }
}

.header-Button {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  letter-spacing: 0.25vw;
  padding: 0 0.5vw;

  background-color: var(--color-background-header-footer);
  color: var(--color-text-primary);

  font-family: "Source Code Pro", monospace;
  font-size: 30%;
  font-weight: 500;

  height: inherit;
  width: auto;

  @include respond(Desktop-Small) {
    font-size: 25%;
  }
  @include respond(Tablet) {
    font-size: 40%;
  }

  &:hover {
    color: var(--color-text-hover);
    cursor: pointer;
  }
}
.header-Button-Red {
  &:hover,
  &:active {
    background-color: var(--color-red);
  }
}
.header-Button-Yellow {
  &:hover,
  &:active {
    background-color: var(--color-yellow);
  }
}
.header-Button-Green {
  &:hover,
  &:active {
    background-color: var(--color-green);
  }
}
.header-Button-Blue {
  &:hover,
  &:active {
    background-color: var(--color-blue);
  }
}
