@import "Theme";
@import "Mixins";
.Header {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;

  background-color: var(--color-background-header-footer);

  height: 7.5vh;
  font-size: 7.5vh;

  @include respond(Tablet) {
    flex-direction: column;
    height: 40vh;
  }
}
